
 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.auto-mid {
    width: 1440px;
    margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
}

.header {
    width: 1440px;
    height: 68px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
}







.header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 32px; 
    margin-left: 500px; 
}

.header ul li {
    margin-right: 24px;
}

.header ul li a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

/* Блок справа с иконкой и кнопкой */
.header-button {
    display: flex;
    align-items: center;
}
/* Иконка  */
.day-img {
    margin-right: 16px
}
/* Кнопка "Download CV" */
.cv-button {
    display: inline-block;
    width: 136px;
    height: 36px;
    background-color: #000; /* Черный цвет кнопки */
    color: #fff; 
    text-align: center;
    line-height: 36px; /* Центрирование текста */
    border-radius: 18px; /* Закругленные углы */
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin-right: 32px; 
    margin-left: 22px; 
}

/* Отступы для иконки и кнопки */
.header-button {
    margin-right: 16px;
}


/* Первая Секция с текстом и изображениями */
.first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 96px;
}

.kate-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 768px;
}

.kate-element-text {
    flex: 1;
    max-width: 768px;
    padding-right: 20px;
}

.kate-element-text h1 {
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.kate-element-text h1 img {
    margin-left: 10px;
    width: 50px;
}

.kate-element-text h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 30px;
}

/* Блок с локацией */
.kate-location {
    display: flex;
    flex-direction: column; /* Столбец для вертикального расположения текста */
    align-items: flex-start;
    font-size: 16px; 
    font-weight: 400; 
    color:black; 
}

.kate-location h3, .kate-location p {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 16px; 
    font-family: 'Inter', sans-serif; 
    font-weight: 400; 
    color:black; 
}

.kate-location h3 img, .kate-location p img {
    margin-right: 10px;
}


.kate-element-img img {
    width: 360px;
    height: 400px;
}

    /* Контейнер для изображений */
.img-container1 {
    position: relative; 
    width: 100%;
    height: 100%;
}

/* Первое изображение (на переднем плане) */
.img-1 {
    position: relative;
    z-index: 2;
    border: 10px solid #fff; /* Рамка вокруг изображения */
    width: 100%;
    height: auto;
    box-sizing: border-box; /* Включает рамку внутрь изображения */
    

}
/* Второе изображение (сзади и со сдвигом) */
.img-2 {
    position: absolute;
    top: 40px; 
    left: 40px; 
    z-index: 1;
    width: 100%;
    height: auto;
    border: none;
}

/* Блок с иконками */
.kate-element-icon {
    display: flex;
    gap: 15px;
    margin-top: 48px; 
    justify-content: flex-start; /* Выравнивание иконок по началу */
    align-items: center; /* Вертикальное выравнивание иконок */
}

/* Все иконки одинакового размера */
.kate-element-icon img {
    width: 40px;
    height: 40px;
    object-fit: contain; 
    }















/* Вторая секция обо мне */
.second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 96px 20px; 
    max-width: 1440px; 
    margin: 0 auto;  
}

.about-me {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 32px;
}



/* Контейнер для заголовка и контента */
.about-me-content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}





/* Хедер секции */
.about-me-TH h2 {
    font-size: 30px;
    margin-bottom: 96px;
    margin-top: 48px;
    text-align: center;
}
.about-me-TH {   
    display: flex;
    width: 105px;
    height: 28px;
    background-color:lightgray; 
    color: black; 
    text-align: center;
    line-height: 25px; 
    border-radius: 15px; 
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    margin-right: 20px; 
    margin-left: 23px; 
}

/* Левая колонка с изображениями */
.about-me-img {
    width: 440px;
    height: 520px;
    margin-right: 144px;
    margin-left: 72px;
    margin-bottom: 174px;
    margin-top: 48px;
    position: relative;
   
    }
    /* Вторая секция Контейнер для изображений  */
    .img-container3 {
        position: relative; 
        width: 100%;
        height: 100%;
    }
    
    /* Первое изображение (на переднем плане) */
    .img-11 {
        position: relative;
        z-index: 2;
        border: 10px solid #fff; 
        width: 100%;
        height: auto;
        box-sizing: border-box; 
        
    
    }
    /* Второе изображение (сзади и со сдвигом) */
    .img-22 {
        position: absolute;
        top: 40px; 
        left: -40px; 
        z-index: 1;
        width: 100%;
        height: auto;
        border: none;
    }


 
    /* Правая колонка с текстом */
    .about-me-text {
        max-width: 584px;
        max-height: 694px;
        font-size: 16px; 
        font-family:'Inter', sans-serif;
        font-weight: 400; 
    }

.about-me-text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    width: 584px;
}


  
.about-me-text-uls {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Две равные колонки */
    gap: 20px; /* Промежутки между колонками */
    width: 100%; 
    max-width: 584px; 
    margin: 0 auto; 
} 

.about-me-text-uls ul {
padding: 0;
margin: 0;
word-wrap: break-word; /* Перенос слов */
width: 100%; 
}

.about-me-text-uls ul li {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.4;
    word-break: break-word; /* Перенос длинных слов */
}

.about-me-text-footer p{
    font-size: 16px;
    line-height: 1.6;
    margin-top: 20px; 
    margin-bottom: 20px;
    width: 584px;
   
}






















/* Основной стиль секции */
.free-section {
    max-width: 1440px;
    margin: 150px auto;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

/* Центрирование заголовка "Навыки" и кнопки */
.skills-TH {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-TH a {
    display: inline-block;
    width: 95px;
    height: 28px;
    background-color: lightgray; 
    color: black; 
    text-align: center;
    line-height: 28px; 
    border-radius: 15px; 
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
}

/* Описание навыков */
.skills-text {
    margin-top: 16px;
    margin-bottom: 48px;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    line-height: 1.6; /* Межстрочный интервал */
}



/* Сетка для иконок навыков */
.skills-element-icon-grid-elements {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 8 колонок */
    gap: 20px; 
    row-gap: 48px; /* Расстояние между строками */
    justify-content: center;
    margin: 0 auto;
}

/* Индивидуальный стиль для каждой иконки */
.skills-element-icon-grid-element {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills-element-icon-grid-element img {
    width: 64px; 
    height: 64px; 
    object-fit: contain; /* Сохранение пропорций иконок */
}

.skills-element-icon-grid-element b {
    font-size: 18px;
    font-weight: 400;
    margin-top: 12px; 
}

/* Эффект при наведении на иконку */
.skills-element-icon-grid-element:hover img {
    transform: scale(1.1); /* Легкое увеличение иконки */
}










.experience-section {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 20px;
    color: #333;
  }
  
/* Центрирование заголовка "Навыки" и кнопки */
.experiences-TH {
    display: flex;
    justify-content: center; 
    align-items: center;
}



.experiences-TH a {
    display: inline-block;
    height: 28px;
    padding: 2px 20px ; 
    background-color: lightgray; 
    color: black; 
    text-align: center;
    line-height: 28px; 
    border-radius: 15px; 
    text-decoration: none;
    font-family: "Inter", serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
}

/* Описание навыков */
.experiences-text {
    margin-top: 16px;
    margin-bottom: 48px;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    line-height: 1.6; 
}

.experience-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}



/* Стиль блоков */
.experience-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 896px;
    background-color: #eecdf6;
    border-radius: 12px;
    position: relative;

   
    
}

/* Позиционирование логотипа в блоке опыта работы */
.experience-item img {
    width: 102px;
    height: 28px;
    
    margin-top: 32px;
    margin-left: 32px;
}

/* Контент внутри блоков опыта работы */
.experience-text {
    margin-left: 254px;
    flex-grow: 1;
    font-family: "Inter", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.experience-text h3 {
    font-size: 20px;
    font-family: "Inter", serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 32px;
    margin-right: 48px;
    white-space: nowrap;  
}

.experience-text-uls {
    display: grid;
    width: 100%; 
    max-width: 384px; 
    margin: 0 auto; 
} 
}


.experience-text ul {
    padding: 0;
    margin: 10px 0 0 0;
    padding: 0;
    margin: 0;
    word-wrap: break-word; 
    width: 100%;
}

.experience-text ul li {
    font-family: "Inter", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.6;
    word-break: break-word;
}

.experience-date {
    font-family: "Inter", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
   
    margin: 32px 32px 232px 48px; 
    text-align: right;
    white-space: nowrap;  
}




































/* Основной стиль секции работа */
.work-section {
    color: #333;
    padding: 60px 20px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

/* Центрирование заголовка работа */
.works-TH {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.works-TH a {
    display: inline-block;
    width: 90px;
    height: 28px;
    padding: 2px 20px ; 
    background-color: lightgray;
    color: black;
    text-align: center;
    line-height: 28px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.works-text {
    margin-top: 16px;
    margin-bottom: 48px;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    line-height: 1.6;
}

/* Стиль для каждой части портфолио */
.work-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    background-color: rgb(250, 247, 247) ;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 1152px;
    height: 480px;
    margin-left: 64px;
}

/* Изменение расположения элементов для Портфолио 2 */
.work-item-reverse {
    flex-direction: row-reverse;
    margin-left: 64px;
}


.work-item-TH a {
    display: inline-block;
    width: 95px;
    height: 28px;
    background-color: lightgray;
    color: black; 
    text-align: center;
    line-height: 28px; 
    border-radius: 15px; 
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
}

/* Картинка проекта */
.work-image {
    width: 480px;
    height: 384px;
    object-fit: cover;
    margin-left: 48px;
    margin-right: 48px;
}

/* Контент с описанием */
.work-content {
    padding: 48px; 
    padding-bottom: 24px;
    text-align: left;
}

.work-title {
    font-size: 20px;
    font-family: "Inter", serif;
    font-weight: 600;
    font-style: normal;
    margin: 0 0 24px 0; 
}

.work-description {
    font-size: 16px;
    color: black;
    line-height: 1.6;
   
}


/* Контейнер кнопок с программами */
.tech-buttons {
    display: flex;
    flex-wrap: wrap; /* Позволяет кнопкам переноситься на новую строку */
    gap: 8px; 
    margin-top: 24px;
    margin-bottom: 24px;
}

/* Стиль кнопок с программами */
.tech-button {
    display: inline-block;
    padding: 6px 16px;
    background-color: lightgray; 
    color: black; 
    text-align: center;
    line-height: 20px; 
    border: none;
    border-radius: 15px; 
    text-decoration: none;
    font-family: "Inter", serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tech-button:hover {
    background-color: #7a09bb;
}

.copy-icon {
    margin-top: 24px;
    margin-bottom: 100px;
    text-align: left;
    cursor: pointer;
}

.copy-svg {
    width: 36px; 
    height: 36px;
    transition: opacity 0.3s;
}

.copy-icon:hover .copy-svg {
    opacity: 0.7; /* Эффект при наведении */
}





/* Центрирование в мобильном режиме */
@media (max-width: 768px) {
    .work-items-container {
        flex-direction: column;
        align-items: center;
    }

    .work-item {
        width: 100%;
    }
}
















/* Общий стиль для секции отзывы */
.testimonials {
    width: 100%;
    max-width: 1440px;
    height: 740px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Центрирование заголовка отзывы */
.testimonials-TH {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.testimonials-TH a {
    display: inline-block;
    width: 95px;
    height: 28px;
    background-color: lightgray;
    color: black; 
    text-align: center;
    line-height: 28px; 
    border-radius: 15px; 
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
}

/* Описание отзывов */
.testimonials-text {
    margin-top: 16px;
    margin-bottom: 48px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 1.6;
}

.testimonials-wrapper {
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.testimonial-item {
    width: 374px;
    height: 428px;
    padding: 48px 48px 24px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #f5eff4;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-item:hover {
    transform: scale(2);
    background-color: #cfa5f6; 
}

.avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-bottom: 24px;
}

.testimonial-text {
    font-size: 16px;
    font-family: "Inter", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    margin: 0 48px 24px;
}

.client-name {
    font-size: 20px;
    font-family: "Inter", serif;
    font-weight: 600;
    font-style: normal;
    color: #000000;
    margin-top: 24px;

}

.client-position {
    font-size: 14px;
    font-family: "Inter", serif;
    font-weight: 400;
    font-style: normal;
    
}












.Contact-me {
    max-width: 720px; 
    margin: 0 auto;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #333; 
    padding: 40px 20px;

}


.Contact-me b {
    font-size: 20px;
    font-weight: 500;
    display: block;
    margin-top: 16px;
    margin-bottom: 48px;

}


.Contact-me p {
    font-family: "Inter", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px; /* Расстояние между значком, ссылкой и кнопкой копирования */
}

.Contact-me-txt {
margin-top: 48px;
}


.Contact-me img {
    width: 44px;
    height: 44px;
}

/* Email и телефон*/
.Contact-me a {
    color: black; 
    text-decoration: none;
    font-family: "Inter", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    margin: 0 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.icon-small {
    transform: scale(0.7); /* Уменьшение размера иконки на 1,5 раза */
    margin-right: -15px;
}



/* Стиль для иконок соц.сетей */
.Contact-me p:last-of-type {
    margin-top: 8px;
}

.Contact-me .social-icons img {
    width: 28px;
    height: 28px;
    margin: 0 6px;
}





footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    font-size: 14px;
    color: black; 
    font-family: 'Inter', sans-serif;
}

footer img {
    margin: 0 8px; 
    width: 24px;
    height: auto;
}

footer .heart-icon {
    width: 20px;
    height: 20px;
}
